<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>CFBundleDevelopmentRegion</key>
		<string>$(DEVELOPMENT_LANGUAGE)</string>
		<key>CFBundleDisplayName</key>
		<string>NightOwl</string>
		<key>CFBundleExecutable</key>
		<string>$(EXECUTABLE_NAME)</string>
		<key>CFBundleIdentifier</key>
		<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
		<key>CFBundleInfoDictionaryVersion</key>
		<string>6.0</string>
		<key>CFBundleName</key>
		<string>nightowlcode</string>
		<key>CFBundlePackageType</key>
		<string>APPL</string>
		<key>CFBundleShortVersionString</key>
		<string>$(FLUTTER_BUILD_NAME)</string>
		<key>CFBundleSignature</key>
		<string>????</string>
		<key>CFBundleVersion</key>
		<string>$(FLUTTER_BUILD_NUMBER)</string>
		<key>LSRequiresIPhoneOS</key>
		<true/>
		<key>UILaunchStoryboardName</key>
		<string>LaunchScreen</string>
		<key>UIMainStoryboardFile</key>
		<string>Main</string>
		<key>UISupportedInterfaceOrientations</key>
		<array>
			<string>UIInterfaceOrientationPortrait</string>
			<string>UIInterfaceOrientationLandscapeLeft</string>
			<string>UIInterfaceOrientationLandscapeRight</string>
		</array>
		<key>UISupportedInterfaceOrientations~ipad</key>
		<array>
			<string>UIInterfaceOrientationPortrait</string>
			<string>UIInterfaceOrientationPortraitUpsideDown</string>
			<string>UIInterfaceOrientationLandscapeLeft</string>
			<string>UIInterfaceOrientationLandscapeRight</string>
		</array>
		<key>CADisableMinimumFrameDurationOnPhone</key>
		<true/>
		<key>UIApplicationSupportsIndirectInputEvents</key>
		<true/>
		<key>UIStatusBarHidden</key>
		<false/>
		<key>NSLocationWhenInUseUsageDescription</key>
		<string>Share your location so NightOwl can show you the best spots nearby just for you!</string>
		<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
		<string>Let NightOwl update your location in the background so friends can easily find and join you for a great night out!</string>
		<key>UIBackgroundModes</key>
		<array>
			<string>location</string>
		</array>
		<!-- Required if the user picks from the photo library -->
		<key>NSPhotoLibraryUsageDescription</key>
		<string>We use your photo library so you can choose a profile picture.</string>
		<!-- Required only if you use the camera -->
		<key>NSCameraUsageDescription</key>
		<string>We use the camera so you can take a profile picture.</string>
		<!-- Optional: only if you SAVE to the library (not needed for pick-only) -->
		<key>NSPhotoLibraryAddUsageDescription</key>
		<string>We save photos to your library at your request.</string>
	</dict>
</plist>
